#main_div
  = react('ServiceRequestDefault', :miqRequestInitialOptions => miq_request_initial_options, :isReset => @isReset, :melsVar  => @melsVar) 
  = render :partial => 'layouts/gtl', :locals => {:no_flash_div => true}
